
<div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Forgot Password?
            </h5>
            <form #frmLogin="ngForm" (ngSubmit)="onSubmitForm(frmLogin)" autocomplete="off">
              <div class="form-group form-label-group">
                <label for="username">Username</label>
                <input type="text"  id="username" [(ngModel)]="username"  name="username" #un="ngModel"  class="form-control" placeholder="Username" required>
                <div class="alert alert-danger" *ngIf="un.touched && un.invalid">username is required.</div>
              </div>
  
              <div class="form-label-group">
                  <label for="username">Birth Date</label>
                <input type="date"  id="dob" [(ngModel)]="dob" name="dob" #pwd="ngModel" class="form-control" placeholder="Birth Date" required>
                <div class="alert alert-danger" *ngIf="un.touched && un.invalid">Birth Date is required.</div>
              </div>
              <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Submit</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  